.featured {
  flex: 2;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;

    .title {
      font-size: 16px;
      font-weight: 500;
    }
  }
  .bottom-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .bottom {
    padding: 30px;
    display: flex;
    flex-direction: column;

    .bottom-header {
      padding: 5px;
      font-weight: bold;
      display: flex;
      .bottom-header-item {
        text-align: center;
        flex: 2;
      }
      .bottom-header-itemx {
        width: 60px;
      }
    }
    .bottom-content {
      padding: 5px;
      margin-top: 5px;
      border: 1px solid lightgrey;
      display: flex;
      font-size: 12px;
      .bottom-content-item {
        white-space: nowrap;
        margin-left: 5px;
        text-align: center;
        flex: 2;
      }
      .bottom-content-button {
        cursor: pointer;
        border: 1px solid lightcoral;
        border-radius: 6px;
        color: green;
        background: #fff;
        width: 60px;
      }
    }
  }
}
