.payment-header{
    font-size: 46px;
    font-weight: 700;
}
.address-modal{
    width: 520px;
    border-radius: 6px;
    max-height: 95vh;
}

label {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #333;
    margin-top: 4px;
}
input {
    width: 100%;
    height: 42px;
    border-radius: 6px;
    padding: 8px 10px;
    background-color: #fbfbfb;
    border: 1px solid #e6e6e6;
    
}

textarea {
    
    border-radius: 6px;
    padding: 5x 8px;
    resize: none;
    height: calc(3em + 4px*3 + 20px);
    background-color: #fbfbfb;
    border: 1px solid #e6e6e6;
}
.flex-column{
    width: 100% ;
}

.submit {
    width: 100%;
    margin-top: 6px;
    border-radius: 6px;
    height: 48px;
    font-size: 18px;
    background-color: teal;
    border-style: none;
    color: white;
    
}
.submit:hover {
    background-color: #66BFBF;
}

.p-tabs {
    border-radius: 6px;
    border: 1px solid #e2e2e2;
    cursor: pointer;
    background-color: #fafafa;
}
.sperator{
    background-color: red;
    width: 2px;
    
}

.address-text{
    font-size: 16px;
    color: #666;
}
.header {
    font-size: 22px;
    font-weight: 600;
    color: teal;
}
.address-box {
    margin-right: 10px;
    cursor:pointer;
    width: 300px;
    height: 110px;
    border-radius: 6px;
    border: 1px solid #e6e6e6;
    background-color: #fafafa;
    flex-direction: column;
    display: flex;
    margin-bottom: 20px;
    transition: 0.3s ease-in;
    box-sizing: border-box;
    margin-top: 35px;
    align-items: center;
    justify-content: center;
}
.address-box span {
    font-size: 12px;
}
.address-wrapper{
    border-radius: 6px;
    padding: 45px;
    margin-top: 20px;
    background-color: white;
    border: 1px solid #e2e2e2;
}
.payment-box{
    padding: 20px;
    width: 500px;
    height: 250px;
    border-radius: 6px;
    border: 1px solid #e6e6e6;
    background-color: #fafafa;
}
.checkbox {
    width: 20px;
    height: 20px;
}
.payment-options:active {
    background-color: #fafafa;
}
.p-layout{
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.content {
    width: 930px;
}
#address {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.p-summary{
    width: 247px;
}
.kvkk {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    background: white;
}
.kvkk-text{
    font-size: 12px;
    margin: 0;
}
#space {
    height: 1px;
    width: 100%;
    background: black;
}
.address-title input {
cursor: pointer;

}
.shipping-addresses {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    box-sizing: border-box;
    align-self: flex-start;
}
.address-box1 {
    width: 300px;
    position: relative;
}
.box-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
.radio-unselected{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: #333;
    width: 100%;
}
.radio-unselected input {
    width: 12px;
    margin-right: 5px;
}
.radio-unselected label {
    padding-top: 3px;
    font-size: 12px;
}
.box-content {
    margin: 5px 0 20px 0;
    height: 110px;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    background-color: #fafafa;
    transition: 0.3s ease-in;
    position: relative;
}
.content-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #333;
    font-weight: 600;
}

.box-head span {
    font-size: 12px;
    border-bottom: 1px;
}
.content-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-user {
    margin-right: 5px;
    padding-bottom: 3px;
}
.content-phone {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-mobile {
    margin-right: 5px;
    padding-bottom: 3px;
}
.content-address {
    font-size: 12px;
    color: #333;
    margin-top: 5px;
    line-height: 24px;
}
.content-address p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}