.img {
    width: 150px;
    
}
.product-quantity {
    font-size: 24px;
     margin: 5px;
}
.product-price {
    font-size: 30px;
    font-weight: 200;
}
.wrapper {
    width: 900px;
}
.space{
    width: 98%;
    height: 1px;
    background-color: lightgray;
    border: none;
}
.product-info {
    width: 75%;
}