.category-container {
  flex: 1;
  margin: 3px;
  height: 70vh;
  position: relative;
}

.category-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-info {
    top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.category-title{
    color: #fff;
    margin-bottom: 20px;
}

.category-button {
    color: black;
    border: none;
    border-radius: 0;
    background-color: #fff;
}

.category-button:hover {
    color: lightgray;
}
