.auth-code{
    border: 1px solid lightgray;
    background-color: #fbfbfb;
    width: 500px;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 40%;
    
}
.auth-wrapper {
    padding: 40px;
}
.auth-head {
    font-size: 24px;
    font-weight: bold;
}
.auth-input input {
    
    height: 51px;
    width: 340px;
}
.auth-button{
    background: #256D85;
    color: #fff;
    border-radius: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 338px;
    border: none;
}
.auth-wrapper span {
    cursor: pointer;
    font-size: 14px;
    color: #3120E0 ;
}
.auth-wrapper span:hover {
    filter: brightness(200%);
    border-bottom: 1px solid #333;
}

